*{
    font-family: "Kodchasan", sans-serif;
}

body{
    margin: 0;
    background-size: cover;
}

.caja-principal{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100vh;
    background-image: url(/client/public/fondoInicio4.svg);
    background-size: cover;
}

.bar-menu{
    display: flex;
    background-color: #5f46338f;
    background-color: #5f46338f;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: transform 0.3s ease-in-out;
}

.bar-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.logo img{
    display: flex;
    justify-content: center;
    width: 95%;
    border-radius: 10px;
}

.logo{
    margin: 10%;
    display: flex;
    justify-content: center;
}
.logo-menu{
    display: flex;
}

.side-menu {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-menu a {
    width: 100%;
    display: flex;
    padding: 25px 0px;
    cursor: pointer;
    text-align: left;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color: #fff9e1;
}

.side-menu svg {
    fill: #fff9e1;
    margin-left: 15px;
}

.side-menu a:hover, 
.side-menu a.activo {
    background-color: #553d2abe;
    border-bottom: solid 3px #fff9e1;
}

.side-menu a.activo svg, h1{
    pointer-events: none;
}
.contenido-operativo{
    overflow-y: scroll;
    background-color: transparent;
    background-size: cover;
    background-color: transparent;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    transition: all 0.5s ease;
}

#main-contenido{
    width: 100%;
    margin: auto;
}
/*------------------------------ventana inventarios------------------------------*/

.contenido-inventario{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.contenido-inventario h1 {
    text-align: center;
    font-size: 2.9rem;
    color:#fff9e1;
    color:#fff9e1;
}

.contenedor-grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.inventario h2{
    text-align: center;
}

.inventario {
    display: block;
    background-color: #ffff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.contenido-inventario thead{
    position: sticky;
    top: 0px;
    background-color: #EFD79B;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.contenido-inventario th{
    font-weight: 600;
}

.contenido-inventario th, .contenido-inventario td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

/*----------productos-----------*/
.t-productos{
    overflow-x: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-tabla-producto{
    width: fit-content;
    overflow-y: scroll;
    height: 420px;
}

.boton-add{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/*------------------------------botones tablas------------------------------*/
.b-caja {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-boton-tabla {
    padding-top: 2px;
    width: 35px;
    background-color: #80f182;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 3px 0px;
}

.del-boton-tabla {
    padding-top: 2px;
    width: 35px;
    background-color: #ff4c4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 3px 0px;
}

.del-boton-tabla svg{
    pointer-events: none;
}



/*------------------------------boton agregar------------------------------*/

.add {
    font-size: medium;
    font-weight: 500;
    padding: 15px 25px;
    width: fit-content;
    border: none;
    border-radius: 25px;
    background-color: #F5E4B5;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 6px 0px;
}
.cancel {
    font-size: medium;
    font-weight: 500;
    padding: 15px;
    width: 40%;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color:#000;
    background-color: #F5E4B5;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 6px 0px;
}
.cancel {
    font-size: medium;
    font-weight: 500;
    padding: 15px;
    width: 40%;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color:#000;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 6px 0px;
}

.cancel:hover{
    background-color: #dadada; /* Fondo blanco en hover */
    color: #000; /* Mantener legibilidad */
}
.cancel:hover{
    background-color: #dadada; /* Fondo blanco en hover */
    color: #000; /* Mantener legibilidad */
}
.add:hover {
    background-color: #DFC178;
}

/*---------------------------------PRODUCTOS-------------------------------*/

.mostrar-producto{
    margin-top: 5rem;
}

.contenedor-productos{
    padding: 4rem;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1   );
    max-width: 50%;
    margin: 2rem auto;
}

.contenedor-productos h1{
    font-size: calc(2rem + 1vw);
    color: black;
    text-align  : center;
    margin: 0 0 15px 0;

}

.contenedor-productos thead{
    position: sticky;
    top: 0px;
    background-color: #EFD79B;
    color: black;
    font-size: larger;
    font-weight: bolder;

}

.contenedor-productos th{
    font-size: 1rem;
    font-weight: 600;
}

.contenedor-productos th, .contenedor-productos td{
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;;
}

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
}

/*---------------------------------PEDIDOS-------------------------------*/

.contenido-factura{
    padding: 20px;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1   );
    max-width: 35%;
    margin: 2rem auto;
}

.contenido-factura h1{
    font-size: calc(1rem + 1vw);
    color: black;
    text-align  : center;
    margin: 0 0 15px 0;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenido-info input{
    width: 65%;
    height: 3vh;
    border-radius: 5px;
    border:solid 1px #ccc;
    outline: none;
}

.productos-pedidos {
    display: block;
    max-height: 300px; /* Ajusta la altura según necesites */
    overflow-y: auto; /* Scroll solo si es necesario */
/*     border: 1px solid #ccc; /* Opcional: agrega un borde para delimitar el área */ 
}

.contenido-info h2{
    width: 25%;
    text-align: right;
    font-size: medium;
}

.contenido-factura h3{
    text-align: center;
    font-size: larger;
}

.productos-pedidos thead {
    position: sticky;
    top: 0;
    background: #EFD79B; /* Mantiene el encabezado visible */
}

.productos-pedidos th {
    font-size: 1rem;
    font-weight: 600;
}

.productos-pedidos th, .productos-pedidos td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;;
}

.productos-pedidos {
    overflow-y: scroll;
    height: 300px;
}

.barra-total {
    width: 100%;
    margin: 10px 0 10px 0;
    height: 2px;
    border-radius: 25px;
    background-color: #ccc;
}

.contenido-info {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

/*---------------------------------ENVIOS-------------------------------*/
.contenedor-envios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: #ffff;
    width: fit-content;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 15px;
}

.envio-grid {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    justify-items: center;
    width: fit-content;
    margin: auto;
}
.temp-envio-grid {
    background-color: #fff;
    padding: 30px;
    text-align: center; 
    border-radius: 10px;
    justify-items: center;
    width: fit-content;
}

.item {
    margin: 15px;
}
.contenedor-tabla-agendados{
    overflow-y: scroll;
    height: 6in;
}

.contenedor-tabla-agendados th, .contenedor-tabla-agendados td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    justify-items: center;
}



.t-envios thead {
    position: sticky;
    top: 0px;
    background-color: #EFD79B;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.t-envios {
    border-collapse: collapse;
    
}

#list-productos {
    background-color: #40cfff;
}

#list-productos svg {
    pointer-events: none;
}

#enviar-pedido {
    background-color: #01fa81;
}

#eliminar-pedido{
    background-color: #ff4c4c;
}
#eliminar-envio {
    background-color: #ff4c4c;
}

#list-productos:hover {
    background-color: #0095CC;
}

#enviar-pedido:hover {
    background-color: #00C96C;
}

#eliminar-pedido:hover {
    background-color: #CC0000;
}

#eliminar-envio:hover {
    background-color: #CC0000;
}

.btns-envio {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 3px 0px;
    cursor: pointer;
}

#productos-envios h2 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin: 0 0 15px 0;
}

#productos-envios th, #productos-envios td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    justify-items: center;
}

#productos-envios {
    overflow-y: scroll;
    height: 6in;
}

.boton-bill {
    padding-top: 2px;
    width: 10%;
    height: 3vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 3px 0px;
}

#add-bill{
    background-color: #80f182;
    border-radius: 5px;
    cursor: pointer;
}

#del-bill{
    background-color: #ff4c4c;
    border-radius: 5px;
    cursor: pointer;
}

#fact-bill {
    background-color: #4cb7ff;
    border-radius: 5px;
    cursor: pointer;
}

.caja-botones-bill{
    display: flex;
    gap: 10px;
}
/* ----------------- Modal Facturas ----------------- */
.tb-bill th, .tb-bill td {
    text-align: center;
    padding: 5px;
    height: 2rem;
    border-bottom: 1px solid #e0e0e0;
}

#bill-tb input{
    width: 65%;
    height: 3vh;
    border-radius: 5px;
    border: solid 1px #ccc;
    outline: none;
}

#cant-bill-prodcut{
    width: 4rem;
    outline: none;
    border-radius: 5px;
    border: solid 1px #ccc;
    overflow-y: scroll;
}
.tb-bill{
    overflow-y: scroll;
    height: 35vh;
}
.tb-bill thead {
    position: sticky;
    background-color: #EFD79B
}



/* ----------------- Modal Productos ----------------- */

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.71);
    background-color: rgba(0, 0, 0, 0.71);
    justify-content: center;
}

.x-close {
    justify-content: right;
    display: flex;
    width: 100%;
}
.x-close {
    justify-content: right;
    display: flex;
    width: 100%;
}
.show {
    display: flex;
}
.confirm-product {
    text-align: center;
    align-content: center;
}
.confirm-product {
    text-align: center;
    align-content: center;
}

.confirm-product p {
    font-size: x-large;
    font-weight: bold;
}
.confirm-product p {
    font-size: x-large;
    font-weight: bold;
}
#modal-content {
    background-color: #fefefe;
    padding: 40px;
    margin: 5rem auto;
    border: 1px solid #888;
    width: auto;
    height: max-content;
    border-radius: 15px;
}

#modal-content h2 {
    text-align: center;
}


.modal-body h1{
    text-align: center;
}

#modal-content p{
    text-align: center;
    font-size: x-large;
}

#modal-content p{
    text-align: center;
    font-size: x-large;
}

.form-content h3 { 
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-content {
    display: flex;
    margin-bottom: 1em;
    gap: 1rem;
    align-items: center;
    height: 7vh;
}

#modal-body h1 {
    text-align: center;
}

.form-content input {
    width: 65%;
    height: 3vh;
    border-radius: 5px;
    border: solid 1px #ccc;
    outline: none;
}

.t-boton svg {
    fill: #0a0a0a;
}
.t-boton svg {
    fill: #0a0a0a;
}

#search-product {
    width: 95%;
    border: solid 1px #e0e0e0;
    height: 30px;
    border-radius: 10px;
}

.filtro {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
;
}

.estado {
    border: solid 1px #b9b9b9;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

#eliminar-envio {
    background-color: #ff4c4c;
}